<div class="cajita">
<div class="card col" style="width: 30rem;">
    <img class="card-img-top" [src]="personaje.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{personaje.name}}</h5>
      <p class="card-text"> Gender: {{personaje.genero}}</p>
      <p class="card-text"> Location: {{personaje.location}}</p>
      <p class="card-text"> Specie: {{personaje.especie}}</p>
      <p class="card-text"> Origen: {{personaje.origen}}</p>
      <p class="card-text"> Created: {{personaje.fecha}}</p>
    </div>

</div>
   
  
  
    
  
 
  
  