
<nav class="nav-main">
        
  <img src="assets/img/AAAABddiw4GEUq76B3fmiI7r6NF-GrWeEf99MjwKrfixFKM4B4o1uuitcgbuBNa3n04L5GSamUi2vex4adduBV-S2XGERxn29-ffvoRv.png" alt="Logo" class="nav-brand">
  <ul style="font-size: 40px;" class="nav-menu">
   <li>
     <a href="/listaPersonajes">
     <i class="fas fa-home"></i>
    </a>
   </li>
      
     
  </ul>
  <ul class="nav-menu-right">
      <li>
          <a href="signin">
              <i class="fas fa-user"></i>
          </a>
          <ng-container *ngIf=isLoggedIn() >
          <a href="/signin">
              <i class="fas fa-heart"></i>
          </a>
          <a href="#" (click)=logout()>
              <i class="fas fa-sign-out-alt"></i>
          </a>
        </ng-container>
            
      </li>
  </ul>

</nav>
<router-outlet></router-outlet>